

article{

    border: 10px solid #000000;
    margin: 100px;
    padding: 100px;
    padding-bottom: 250px;
    width: 100px;
    height: 100px;
    display: flex;
}

#p1{
    text-align: center;
    display: block;
    margin-right: 100px;
}