section {
    border: 3px solid #724747;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
}

div {
    border: 1px solid #000000;
    height: 100px;
    /*flex-grow: ;
    flex-shrink: ;
    flex-basis: ;*/
}

#curso1 {
    order: 5;
    width: 100px;
}

#curso2 {
    order: 1;
    flex-basis: 50%;
}

#curso3 {
    order: 6;
    width: 100px;
}

#curso4 {
    order: 2;
    width: 100px;
}

#curso5 {
    order: 4;
    width: 100px;
}

#curso6 {
    order: 7;
    width: 100px;
}

#curso7 {
    order: 3;
    width: 100px;
}